body {
    background: bisque;
}

h1 {
    text-align: center;
    color: blue;
}

#lss {
    width: 50%;
}

.cards {
    border-radius: 10px;
    width: 200px;
}
#images {
    display: flex;
    justify-content: space-around;
}